@import './variables_palette.scss';

//Font variables
$main_font: 'Ubuntu', cursive;
$icon_font: 'Material-Design-Iconic-Font';

//Reset css
$selection_text_color: $Text_color_1;
$selection_text_background: $Element_color_7;

$body_main_background: $Element_color_8;

$main_links_color: $Text_color_1;
$main_links_color--hover: $Text_color_1;

$main_hr_background: $Element_color_9;

//Loader
$loader_bg: $Element_color_8;