$Element_color_1: #ff7500;
$Element_color_2: #F44336;
$Element_color_3: #4CAF50;
$Element_color_4: #fb0;
$Element_color_5: #343a40;
$Element_color_6: #5a6268;
$Element_color_7: #101010;
$Element_color_8: #f1f1f1;
$Element_color_9: rgba(0, 0, 0, 0.1);
$Element_color_10: #fff;

$Text_color_1: #ff7500;
$Text_color_2: #6c757d;
$Text_color_3: #fff;
$Text_color_4: rgba(255, 255, 255, 0.5);